{% include 'common_css.html' %}

<div class="sidebar-nav">
  <div id="tab_seq" class="" onclick="switchTab('seq')" style="display:none;justify-content:center;">
    <img src="{{ url_for('static', filename='images/LogoSedberghVietnam.png') }}" alt="Logo" style="width:auto;height:60px">
  </div>
  <div id="tab_cis" class="active" onclick="switchTab('cis')" style="display:flex;justify-content:center;">
    <img src="{{ url_for('static', filename='images/cis_logo.png') }}" alt="Logo" style="width:auto;height:60px">
  </div>

  <div id="konva-container"></div>
</div>

<div class="content-area">
  <div id="content_seq" class="tab-content hidden">
    <h3>Danh sách lớp SEQ</h3>
    {% include 'school_room.html' %}
  </div>

  <div id="content_cis" class="tab-content">
    <h3>Danh sách lớp CIS</h3>
    {% include 'school_room_cis.html' %}
  </div>
</div>

{% include 'school_table_js.html' %}
{% include 'konva.html' %}
{% include 'common_js.html' %}