<style>
  body {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    height: 100vh;
    background-color: #ccc;
  }

  input, label {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sidebar-nav {
    width: 50vw;
    min-height: 180px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  .sidebar-nav div {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
  }
  .sidebar-nav .active {
    background: white;
    font-weight: bold;
    border-left: 40px solid #0056b3;
    border-right: 40px solid #0056b3;
  }

  .content-area {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    
  }


  .hidden {
    display: none;
  }

  /* Form grid cho gửi SMS */
  .form-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 8px 16px;
    align-items: center;
  }

  table { border-collapse: collapse; width: 100%; border: #ccc; background: #fff}
  th, td { border: 1px solid #ccc; padding: 8px; font-weight: 500; font-size: 12;}
  th { background-color: #f2f2f2; font-weight: 500; font-size: 12;}
</style>



<div class="sidebar-nav">
  <div id="tab_seq" class="active" onclick="switchTab('seq')" style="display:flex;justify-content:center;">
    <img src="{{ url_for('static', filename='images/LogoSedberghVietnam.png') }}" alt="Logo" style="width:auto;height:60px">
  </div>
  <div id="tab_cis" onclick="switchTab('cis')" style="display:flex;justify-content:center;">
    <img src="{{ url_for('static', filename='images/cis_logo.png') }}" alt="Logo" style="width:auto;height:60px">
    
  </div>

  <div id="konva-container"></div>
</div>

<div class="content-area">
  <div id="content_seq" class="tab-content">
    <h3>Danh sách lớp SEQ</h3>
    {% include 'school_room.html' %}
  </div>

  <div id="content_cis" class="tab-content hidden">
    <h3>Danh sách lớp CIS</h3>
    {% include 'school_room_cis.html' %}
  </div>
</div>

{% include 'school_table_js.html' %}
{% include 'konva.html' %}

<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    // Hiện loading
    const loadingDiv = document.getElementById('loading');
    loadingDiv.style.display = 'block';

    let countdown = 0; // thời gian đếm ngược giây, bạn điều chỉnh

    const countdownSpan = document.getElementById('countdown');
    countdownSpan.textContent = countdown;

    const interval = setInterval(() => {
      countdown++;
      if (countdown <= 0) {
        clearInterval(interval);
      } else {
        countdownSpan.textContent = countdown;
      }
    }, 1000);
  });
</script>



<script>
  function switchTab(tab) {
    const tabs = ['seq', 'cis'];
    tabs.forEach(t => {
      document.getElementById('tab_' + t).classList.remove('active');
      document.getElementById('content_' + t).classList.add('hidden');

    });
    document.getElementById('tab_' + tab).classList.add('active');
    document.getElementById('content_' + tab).classList.remove('hidden');

    window.drawShapes(`${tab}TableBody`);


    const url = new URL(window.location);
    url.searchParams.set('tab', tab);
    window.history.pushState({}, '', url);

    
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const activeTab = "{{ active_tab }}";  // Biến Flask truyền vào
    if (activeTab) {
      switchTab(activeTab);
    }
  });
</script>
