<form method="POST" action="{{ url_for('index') }}" >
    <input type="search" data-id="seqTableBody-searchInput" placeholder="Tìm theo tên phòng hiện tại..." 
       onkeyup="window.filterTable('seqTableBody')" 
       oninput="window.filterTable('seqTableBody')" d
       style="margin-bottom:10px; width: 300px; padding: 5px;" />

       <table>
        <thead>
            <tr>
            <th style="max-width:10px">STT</th>
            <th style="max-width:10px">Tầng</th>
            <th style="max-width:50px">Tên phòng hiện tại</th>
            <th style="max-width:50px">Tên phòng mới</th>
            <th style="max-width:50px">Màu sắc</th>
            </tr>
        </thead>
        <tbody id="seqTableBody" data-rooms="{{ data_1_json }}">
            {% for room in data_1 %}
            <tr data-room-id="{{ loop.index0 }}">
              <td>{{ loop.index }}</td>
              <td class="current-level">{% if room.level==0 %}G{% else %}{{ room.level + 1 }}{% endif %}</td>
              <td class="current-room-name">{{ room.text }}</td>
              <td>
                  <span class="editable-text" onclick="editCell(this)">{{ room.text }}</span>
                  <input type="text" class="edit-input" value="{{ room.text }}" 
                      style="display:none;" onblur="window.saveCell('seq',this)" />
              </td>
              <td>
                <div class="seq-color-selector" data-room-id="{{ loop.index0 }}" style="width:60px;height:15px;background-color:{{ room.color }}"></div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="color" id="seqTableBody-colorPicker" style="display:none" />
</form>

<div data-id="seqTableBody-pagination"></div>

